{% load static %}
<div class="container-fluid border-top">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ml-5">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

    <a
      href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="{% static 'images/logo.jpg' %}" alt="logo" />
    </a>

    <ul class="nav col-md-5 justify-content-end mr-4">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">'Home'</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Company</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Solutions</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact us</a></li>
    </ul>
  </footer>
</div>
