{% load static %}
<nav class="navbar">
  <div class="navbar-container">
    <a href="#"><img src="{% static 'images/logo-white.png' %}" alt="logo" width="80" /></a>

    <div class="menu-toggle" id="mobile-menu">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-menu">
      <li><a href="#">HOME</a></li>
      <li><a href="#">COMPANY</a></li>
      <li><a href="#">PRODUCTS</a></li>
      <li><a href="#">SOLUTIONS</a></li>
      <li><a href="#">SUPPORT</a></li>
      <li><a href="#">NEWS</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>
</nav>
<script>
  document.getElementById("mobile-menu").addEventListener("click", function () {
    const navMenu = document.querySelector(".nav-menu");
    navMenu.classList.toggle("active");
  });
</script>
