{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{% static 'images/logo-white.png' %}" alt="logo" width="50" class="me-2"/>
      <span class="h1 fs-5 fs-sm-4 fs-md-2 mb-0">FEIHANG FLOW CONTROL</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/company">Компания</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/solutions">Решения</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Продукты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/category/0">Регулирующие клапаны</a></li>
            <li><a class="dropdown-item" href="/category/1">Затворы</a></li>
            <li><a class="dropdown-item" href="/category/2">Шаровые клапаны</a></li>
            <li><a class="dropdown-item" href="/category/3">Задвижки</a></li>
            <li><a class="dropdown-item" href="/category/4">Запорные клапаны</a></li>
            <li><a class="dropdown-item" href="/category/5">Обратные клапаны</a></li>
            <li><a class="dropdown-item" href="/category/6">Пробковые клапаны</a></li>
            <li><a class="dropdown-item" href="/category/7">Специальные клапаны</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 border-primary" type="search" placeholder="Поиск" aria-label="Поиск" />
        <button class="btn btn-primary" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
