{% load static %}
<div class="px-4 py-5" id="featured-3">
  <h2 class="pb-2 mb-3 border-bottom">РЕШЕНИЯ</h2>
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/solution1.jpg' %} alt="img1" class="img-fluid"/>
      <h5 class="fs-4 my-1 text-body-emphasis">Нефть и Газ</h5>
      <p>
        Клапаны FEIHANG широко используются для разведки и добычи на верхнем уровне, транспортировки
        на среднем уровне, процесса переработки на нижнем уровне.
      </p>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/solution2.jpg' %} alt="img1" class="img-fluid"/>
      <h5 class="fs-4 my-1 text-body-emphasis">Химическая Промышленность</h5>
      <p>
        Используйте клапан FEIHANG для улучшения массовых процессов и поддержания работы между
        обслуживанием катализатора или сосуда.
      </p>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/solution3.jpg' %} alt="img1" class="img-fluid w-70"/>
      <h5 class="fs-4 my-1 text-body-emphasis">Вода</h5>
      <p>
        FEIHANG предлагает клиентам комплексные решения для каждого этапа водного цикла. Продукты и
        услуги FEIHANG помогают клиентам оптимизировать производство и трубопроводные сооружения.
      </p>
    </div>
  </div>

  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/solution4.jpg' %} alt="img1" class="img-fluid"/>
      <h5 class="fs-4 my-1 text-body-emphasis">Горная Промышленность</h5>
      <p>
        Вам нужно оборудование и услуги, которые выдержат любые испытания, и FEIHANG может
        справиться с исключительными требованиями времени безотказной работы в горной
        промышленности.
      </p>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/solution5.jpg' %} alt="img1" class="img-fluid"/>
      <h5 class="fs-4 my-1 text-body-emphasis">СПГ</h5>
      <p>
        FEIHANG производит клапаны, которые выдерживают экстремальные низкотемпературные суровые
        условия, предлагая отличное решение для предприятий сжиженного природного газа.
      </p>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/solution6.jpg' %} alt="img1" class="img-fluid w-70"/>
      <h5 class="fs-4 my-1 text-body-emphasis">Энергетика</h5>
      <p>
        У нас есть многолетний опыт предоставления клиентам продуктов, ориентированных на
        безопасность, и надежного обслуживания в энергетической отрасли.
      </p>
    </div>
  </div>
</div>
