{% load static %}
<div class="container py-5" id="featured-3">
  <h2 class="pb-2 mb-4 border-bottom text-start text-primary">РЕШЕНИЯ</h2>
  <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col">
      <div class="card shadow-lg h-100 text-center">
        <img src="{% static 'images/solution1.jpg' %}" class="card-img-top" alt="img1">
        <div class="card-body">
          <h5 class="card-title fs-4 my-2 text-primary">Нефть и Газ</h5>
          <p class="card-text">
            Клапаны FEIHANG широко используются для разведки и добычи на верхнем уровне,
            транспортировки на среднем уровне, процесса переработки на нижнем уровне.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-lg h-100 text-center">
        <img src="{% static 'images/solution2.jpg' %}" class="card-img-top" alt="img2">
        <div class="card-body">
          <h5 class="card-title fs-4 my-2 text-primary">Химическая Промышленность</h5>
          <p class="card-text">
            Используйте клапан FEIHANG для улучшения массовых процессов и поддержания работы между
            обслуживанием катализатора или сосуда.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-lg h-100 text-center">
        <img src="{% static 'images/solution3.jpg' %}" class="card-img-top" alt="img3">
        <div class="card-body">
          <h5 class="card-title fs-4 my-2 text-primary">Вода</h5>
          <p class="card-text">
            FEIHANG предлагает клиентам комплексные решения для каждого этапа водного цикла. Продукты
            и услуги FEIHANG помогают клиентам оптимизировать производство и трубопроводные
            сооружения.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4">
    <div class="col">
      <div class="card shadow-lg h-100 text-center">
        <img src="{% static 'images/solution4.jpg' %}" class="card-img-top" alt="img4">
        <div class="card-body">
          <h5 class="card-title fs-4 my-2 text-primary">Горная Промышленность</h5>
          <p class="card-text">
            Вам нужно оборудование и услуги, которые выдержат любые испытания, и FEIHANG может
            справиться с исключительными требованиями времени безотказной работы в горной
            промышленности.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-lg h-100 text-center">
        <img src="{% static 'images/solution5.jpg' %}" class="card-img-top" alt="img5">
        <div class="card-body">
          <h5 class="card-title fs-4 my-2 text-primary">СПГ</h5>
          <p class="card-text">
            FEIHANG производит клапаны, которые выдерживают экстремальные низкотемпературные суровые
            условия, предлагая отличное решение для предприятий сжиженного природного газа.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-lg h-100 text-center">
        <img src="{% static 'images/solution6.jpg' %}" class="card-img-top" alt="img6">
        <div class="card-body">
          <h5 class="card-title fs-4 my-2 text-primary">Энергетика</h5>
          <p class="card-text">
            У нас есть многолетний опыт предоставления клиентам продуктов, ориентированных на
            безопасность, и надежного обслуживания в энергетической отрасли.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
