{% load static %}
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 mb-3 border-bottom">SOLUTIONS</h2>
  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/valve11.jpg' %} alt="img1" class="img-fluid"/>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
        sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/valve13.jpg' %} alt="img1" class="img-fluid"/>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
        sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/valve8.jpg' %} alt="img1" class="img-fluid w-70"/>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
        sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>

  <div class="row g-4 row-cols-1 row-cols-lg-3">
    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/valve4.jpg' %} alt="img1" class="img-fluid my-4"/>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
        sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/valve7.jpg' %} alt="img1" class="img-fluid"/>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
        sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>

    <div class="feature col shadow-lg p-3">
      <img src={% static 'images/valve12.jpg' %} alt="img1" class="img-fluid w-70"/>
      <h3 class="fs-2 text-body-emphasis">Featured title</h3>
      <p>
        Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
        sentence and probably just keep going until we run out of words.
      </p>
      <a href="#" class="icon-link">
        Call to action
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>
</div>
