<nav
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-1 border-bottom bg-dark border-bottom border-body"
  data-bs-theme="dark">
  <div class="pr-2">
    <span class="text-white mx-2"
      ><i class="text-primary fas fa-phone-alt"></i> +998 (93) 1234567</span
    >
    <span class="text-white mx-2"><i class="text-primary fas fa-map-marker-alt"></i> VALVES</span>
    <span class="text-white mx-2"
      ><i class="text-primary fas fa-envelope"></i> nodir@gmail.com</span
    >
  </div>

  <div>
    <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">
      <i class="text-white mx-2 fab fa-facebook-f"></i>
    </a>
    <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">
      <i class="text-white mx-2 fab fa-twitter"></i>
    </a>
    <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">
      <i class="text-white mx-2 fab fa-linkedin-in"></i>
    </a>
    <a href="#" class="link-offset-2 link-underline link-underline-opacity-0">
      <i class="text-white mx-2 fab fa-youtube"></i>
    </a>
  </div>

  <div>
    <a href="/contact-us" class="btn btn-primary btn-sm ml-2">GET A QUOTE</a>
  </div>
</nav>
