{% extends "layout/base.html" %} {% block title %}Company{% endblock %} {% load static %}

<!-- body -->
{% block body %}

<!-- Intro -->
<div class="px-4 py-5 text-center bg-dark bg-opacity-75">
  <img class="d-block mx-auto mb-4" src={% static "images/logo.jpg" %} alt="logo" width="20%"
  height="20%">
  <h1 class="display-5 fw-bold text-body-white">FEIHANG FLOW CONTROL</h1>
</div>

<!-- _path -->
{% include "_path.html" with current_page='Компания' %}

<!-- Main -->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src={% static "images/logo-white.jpg" %} class="d-block mx-lg-auto img-fluid w-100"
      alt="Bootstrap Themes" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">FEIHANG FLOW CONTROL</h1>
      <p>
        Feihang Flow Control - ваш надежный партнер для промышленных клапанов. Мы стремимся к
        четкому мышлению, чтобы проектировать и производить клапаны мирового класса.
      </p>
      <p>
        С недавним расширением производственных мощностей Feihang теперь имеет около 20 000㎡
        крытого цеха. Добавление современного оборудования также помогает нам лучше удовлетворять
        постоянно меняющиеся требования рынка.
      </p>
      <p>
        Сертифицированный по API 6D, API 600, API 602, API 607, API 6FA, ISO9001:2008, ISO
        14001:2004, OHSAS 18001:2004 EAC (GOST-R), TS... Feihang разработал отличные системы
        контроля качества и управления, чтобы обеспечить высочайшее качество и обслуживание.
      </p>
      <p>
        В Feihang Flow Control мы прилагаем дополнительные усилия, чтобы гарантировать качество с
        самого источника: сырья. Мы владеем кузнечным заводом с собственной технологией и
        оборудованием для производства сырья лучшего качества по конкурентной цене.
      </p>
      <p>
        Feihang создал отличную инженерную команду. Мы сохранили и привлекли лучших специалистов в
        отрасли, чтобы помочь нам оставаться лидерами в области инженерии, НИОКР, поддержки проектов
        и послепродажного обслуживания для всех типов нужд различных клиентов на всех этапах
        проектов.
      </p>
      <p>
        Feihang Flow Control создал представительства в Хьюстоне, США и Венесуэле. Их отличный
        послужной список дает нам уверенность в открытии новых офисов и сервисных центров в
        стратегических местах в ближайшем будущем, чтобы лучше обслуживать региональные потребности.
      </p>
      <p>
        Ваши потребности - это то, ради чего мы усердно работаем. Каждый день и во всем мы в Feihang
        совершенствуемся, чтобы быть лучшим поставщиком и партнером в удовлетворении ваших
        требований и решений в отношении клапанов.
      </p>

      <div class="btn btn-primary text-left btn_number_75636">
        <a href="/contact-us" class="text-warning" title="">
          <i class="fa fa fa-share icon-in-btn"></i>
          <span class="link">СВЯЗАТЬСЯ С НАМИ</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- end of body -->
{% endblock %}
