{% extends "layout/base.html" %} {% block title %}Home{% endblock %} {% load static %}

<!-- body -->
{% block body %}
<main>
  <!-- Carousel small -->
  <div id="carouselExample" class="d-block d-sm-none carousel slide mb-3">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static 'images/valve18_sm.jpg' %} class="d-block w-100" alt={% static
        'images/valve18_sm.jpg' %} />
        <div class="carousel-caption d-none d-md-block">
          <a href="/contact-us/{{ language }}" class="btn btn-lg btn-outline-primary">
            <!-- language checker -->
            {% if language == 'en' %}Get a quick quote{% else %}
            <!-- ru -->
            Запросить быстрое предложение{% endif %}</a
          >
        </div>
      </div>
      <div class="carousel-item">
        <img src={% static 'images/valve19_sm.jpg' %} class="d-block w-100" alt={% static
        'images/valve19_sm.jpg' %} />
        <div class="carousel-caption d-none d-md-block">
          <a href="/contact-us/{{ language }}" class="btn btn-lg btn-outline-primary">
            <!-- language checker -->
            {% if language == 'en' %}Get a quick quote{% else %}
            <!-- ru -->
            Запросить быстрое предложение{% endif %}</a
          >
        </div>
      </div>
      <div class="carousel-item">
        <img src={% static 'images/valve20_sm.jpg' %} class="d-block w-100" alt={% static
        'images/valve20_sm.jpg' %} />
        <div class="carousel-caption d-none d-md-block">
          <a href="/contact-us/{{ language }}" class="btn btn-lg btn-outline-primary">
            <!-- language checker -->
            {% if language == 'en' %}Get a quick quote{% else %}
            <!-- ru -->
            Запросить быстрое предложение{% endif %}</a
          >
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next text-primary"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Carousel large -->
  <div id="carouselExample1" class="d-none d-sm-block carousel slide mb-3">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static 'images/valve18.jpg' %} class="d-block w-100" alt={% static
        'images/valve18.jpg' %} />
        <div class="carousel-caption d-none d-md-block">
          <a href="/contact-us/{{ language }}" class="btn btn-lg btn-outline-primary">
            <!-- language checker -->
            {% if language == 'en' %}Get a quick quote{% else %}
            <!-- ru -->
            Запросить быстрое предложение{% endif %}</a
          >
        </div>
      </div>
      <div class="carousel-item">
        <img src={% static 'images/valve19.jpg' %} class="d-block w-100" alt={% static
        'images/valve19.jpg' %} />
        <div class="carousel-caption d-none d-md-block">
          <a href="/contact-us/{{ language }}" class="btn btn-lg btn-outline-primary">
            <!-- language checker -->
            {% if language == 'en' %}Get a quick quote{% else %}
            <!-- ru -->
            Запросить быстрое предложение{% endif %}</a
          >
        </div>
      </div>
      <div class="carousel-item">
        <img src={% static 'images/valve20.jpg' %} class="d-block w-100" alt={% static
        'images/valve20.jpg' %} />
        <div class="carousel-caption d-none d-md-block">
          <a href="/contact-us/{{ language }}" class="btn btn-lg btn-outline-primary">
            <!-- language checker -->
            {% if language == 'en' %}Get a quick quote{% else %}
            <!-- ru -->
            Запросить быстрое предложение{% endif %}</a
          >
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample1"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next text-primary"
      type="button"
      data-bs-target="#carouselExample1"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Solutions -->
  {% include "_solutions.html" %}

  <!-- About us -->
  {% include "_about_us.html" %}

  <!-- Partners -->
  {% include "_partners.html" %}

  <!-- Company data -->
  {% include "_company_data.html" %}
</main>
{% endblock %}
